/* Adjust the width of the sidebar */
.sidebar {
    width: 250px;
}

/* Style the sidebar headings */
.sidebar h2 {
    font-size: 1.2em;
    font-weight: bold;
}

/* Adjust link styles */
.sidebar a {
    color: #337aee;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar-logo img {
    max-width: 80%;
    height: auto;
}

body {
    font-weight: 390; /* Normal weight */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600; /* Bold weight for headings */
}

.quarto-container {
    max-width: 1400px; /* Adjust this value as needed */
    margin: 0 auto;
}

/*
.cell-output.cell-output-pyodide {
    background-color: white;
}
*/
